<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<h1>Accessibility Checker</h1>
			<form method="POST" action="/thankyou">
				<input type="text" id="url" name="url" placeholder="Enter the url" required/><br />
				<input type="text" id="username" name="username" placeholder="Enter the username" required/><br />
				<input type="password" id="password" name="password" placeholder="Enter the password" required/><br />
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>